/*!
 * react-priority-plus-nav v0.1.0
 * MIT Licensed
 */
.cdl-ppnav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.cdl-ppnav li {
  display: inline-block;
  vertical-align: middle; }

.cdl-ppnav a {
  display: inline-block; }

.cdl-ppnav .cdl-overflow__indicator.block {
  display: inline-block; }

.cdl-ppnav__hiddenNav {
  position: absolute;
  visibility: hidden; }

.cdl-ppnav__list {
  display: block;
  position: absolute;
  z-index: 10; }
  .cdl-ppnav__list[aria-hidden="true"] {
    visibility: hidden; }
  .cdl-ppnav__list[aria-hidden="false"] {
    visibility: visible; }
  .cdl-ppnav__indicator--active .cdl-ppnav__list {
    z-index: 10;
    display: block;
    position: absolute;
    right: 0; }

.cdl-ppnav__indicator[aria-hidden="true"] {
  display: none; }
